<%- include('partials/header'); -%>
    <h1><%=title%></h1>
    <br>
    <% arr.forEach(function(ele){ %>
        <div class="card">
            <h5 class="card-header"><%=ele.title%></h5>
            <div class="card-body">
                <div style="max-height: 150px;
                            overflow: hidden;">
                    <%-ele.contant%>
                </div>
                <br>
                <% if(title=="Home"){ %>
                    <a type="button" class="btn btn-outline-secondary" href="/Home/<%=ele._id%>">Read more</a>
                <%}%>
                <% if(title!="Home") {%>
                    <a type="button" class="btn btn-outline-secondary" href="/posts/<%=ele._id%>">Read more</a>
                <%}%>
            </div>
          </div>
          <br>
    <% }); %>

<%- include('partials/footer'); -%>