<%- include('partials/header'); -%>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <h1>Update</h1>
    <br>
    <form action="/update/<%=ID%>" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="<%=Title%>" name="postTitle">
          </div>
          <br>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Post</label>
            <textarea class="form-control" id="mytextarea" rows="10" name="postBody"><%=Contant%></textarea>
          </div>
          <br>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Save</button>



          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure to update this Blog ?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- <div class="modal-body">
                Are you sure to delete this Blog ?
                </div> -->
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save Changes</button>
                </div>
            </div>
            </div>
        </div>
    </form>

<%- include('partials/footer'); -%>